#faq{
    color: #fff;
    width: 100%;
    background-color: black;
    height: 950px;
    margin-top: 10px;
}

#faq div{
    width: 50%;
    margin: 0 auto;
    /* text-align: center; */
}

#faq div h1{
    text-align: center;
    padding-top: 80px;
    font-size: 44px;
}

#faq div p{
    margin-top: 80px;
    background-color: #303030;
    margin-left: 10px;
    height: 70px;
    font-size: 26px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 30px;
    justify-content: space-between;
}

#faq div .faq2{
    margin-top: 10px;
    background-color: #303030;
    margin-left: 10px;
    height: 70px;
    font-size: 26px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 30px;
    justify-content: space-between;
}

#member h4{
    text-align: center;
    margin-top: 80px;
    font-size: 16px;
}

#member input{
    margin-left: 55px;
    margin-top: 20px;
    width: 58%;
    height: 70px;
    padding-left: 10px;
}

#member button{
    height: 70px;
    width: 29%;
    font-size: 24px;
    /* margin-left: 10px; */
    margin-top: 10px;
    background-color: #E30813;
    color: #fff;
    border: none;
}